.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    background-color: lightgray;
    height: 10%;
}

h6 {
    margin: 0;
    padding: 0;
}
