.container {
    background-color: lightskyblue;
    padding: 2% 10%;
    cursor: pointer;
}

.line {
    display: flex;
}

.info {
    flex-grow: 1;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info > p {
    font-size: 18px;
}

.icon {
    cursor: pointer;
}

.reminder {
    color: red;
}
